<div class="modal" id="modalBearbeiten" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">
          <strong>Veranstaltung bearbeiten</strong>
        </h4>
      </div>
      <form class="form-horizontal" role="form">
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6 text text-muted">
              <small>Fach-Verantworlicher:</small>
            </div>
            <div class="col-sm-6 text text-muted">
              <small>Teamgöße ändern:</small>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 inner-addon right-addon">
              <span class="glyphicon glyphicon-search"></span>
              <input type="text" class="form-control" placeholder="Live-Suche" ng-model="va.dozent" , name="dozent" />
            </div>
            <div class="col-sm-6">
              <input type="number" class="form-control" placeholder="Teamgröße eingeben" ng-model="va.teamKap" , name="teamKap" />
              <p class="help-box" ng-show="!isValidAnzTeilnehmer(va.teamKap)"><span class="text text-danger"> <small>Mindestens 2 und maximal 10 Teilnehmer</small></span></p>
            </div>
          </div>
          <div class="row">
            <br />
            <div class="col-sm-6 text text-muted">
              <small>Min. Teilnehmer:</small>
            </div>
            <div class="col-sm-6 text text-muted">
              <small>Max. Teilnehmer:</small>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <input type="number" name="min" class="form-control" placeholder="Min. Teilnehmer..." ng-model="va.min" />
              <p class="help-box" ng-show="!isValidNumber(va.min)">
                <span class="text text-danger">
                  <small>Bitte gültige Zahl eingeben!</small>
                </span>
              </p>
              <p class="help-box" ng-show="!isValidMin(va.min)">
                <span class="text text-danger">
                  <small>Darf nicht > Max sein!</small>
                </span>
              </p>
            </div>
            <div class="col-sm-6">
              <input type="number" class="form-control" placeholder="Max. Teilnehmer..." data-ng-model="va.max" name="assistent" />
              <p class="help-box" ng-show="!isValidNumber(va.max)">
                <span class="text text-danger">
                  <small>Bitte gültige Zahl eingeben!</small>
                </span>
              </p>
              <p class="help-box" ng-show="!isValidMax(va.max)">
                <span class="text text-danger">
                  <small>Darf nicht
                    < Min sein!</small>
                </span>
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <hr/>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <button type="button" data-dismiss="modal" ng-disabled="!filledComplete()" ng-click="editVeranstaltung()" class="btn btn-my-block" data-placement="bottom" title="Speichern" onmouseenter="$(this).tooltip('show')">
                <span class="glyphicon glyphicon-ok"></span>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
