<div id="modalGruppe">
  <div class="row">
    <br/>
    <div class="col-sm-12">
      <button type="button" class="btn btn-my-block" ng-click="grErstellenClose()"data-placement="bottom" title="Abbrechen" onmouseenter="$(this).tooltip('show')">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
    </div>
  </div>
  <div class="row">
    <!-- Modal content-->
    <div class="col-sm-12">
      <hr />
      <h3>Gruppe erstellen</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <select select-picker data-width="100%" title="Semester wählen..." ng-model="gr.sem">
        <option ng-repeat="sem in semesters" value="{{sem}}">{{sem}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <br />
    <div class="col-sm-12">
      <select select-picker data-width="100%" title="Fach wählen..." ng-model="gr.fach">
        <option ng-repeat="fach in faecher" value="{{fach}}" >{{fach}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <br />
    <div class="col-sm-12">
      <select select-picker data-width="100%" title="Gruppen Nr. wählen..." ng-model="gr.grpNr">
        <option ng-repeat="grnr in grNummern" value="{{grnr}}">{{grnr}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <br />
    <div class="col-sm-12">
      <select select-picker data-width="100%" title="Anz. Teilnehmer wählen..." ng-model="gr.anzTm">
        <option ng-repeat="anztm in anzTmTeam" value="{{anztm}}">{{anztm}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="strike text-muted">
        <span>Abgabetermin wählen</span>
      </div>
    </div>
  </div>
  <div class="row">
    <br/>
    <div class="col-sm-3">
      <select select-picker data-width="100%" title="1. Termin..." ng-model="gr.termine.tm1">
        <option ng-repeat="tm1 in abgTermine" value="{{tm1}}">{{tm1}}</option>
      </select>
    </div>
    <div class="col-sm-3">
      <select select-picker data-width="100%" title="2. Termin..." ng-model="gr.termine.tm2">
        <option ng-repeat="tm2 in abgTermine" value="{{tm2}}">{{tm2}}</option>
      </select>
    </div>
    <div class="col-sm-3">
      <select select-picker data-width="100%" title="3. Termin..." ng-model="gr.termine.tm3">
        <option ng-repeat="tm3 in abgTermine" value="{{tm3}}">{{tm3}}</option>
      </select>
    </div>
    <div class="col-sm-3">
      <select select-picker data-width="100%" title="4. Termin..." ng-model="gr.termine.tm4">
        <option ng-repeat="tm4 in abgTermine" value="{{tm4}}">{{tm4}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <hr style="border-color: #E8E8E8;"/>
    <div class="col-sm-6">
      <select select-picker data-width="100%" title="Uhrzeit (Beginn)..." ng-model="gr.startUhrzeit">
        <option ng-repeat="sz in startZeiten" value="{{sz}}" >{{sz}}</option>
      </select>
    </div>
    <div class="col-sm-6">
      <select select-picker data-width="100%" title="Uhrzeit (Ende)..." ng-model="gr.endUhrzeit">
        <option ng-repeat="ez in endZeiten" value="{{ez}}" >{{ez}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <br />
    <div class="col-sm-12">
      <select select-picker data-width="100%" title="Raum wählen..." ng-model="gr.raum">
        <option ng-repeat="raum in raeume" value="{{raum}}" >{{raum}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <br/>
    <div class="col-sm-12">
      <button type="button" class="btn btn-my-block" ng-click="addGruppe()" data-placement="bottom" title="Speichern" onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-ok"></span></button>
    </div>
  </div>
</div>
