<div class="row" id="gruppen" ng-controller="ExtController">
  <br>
  <div class="col-sm-10 col-sm-offset-1" ng-controller="GruppenController">
    <div class="panel panel-cust-info">
      <br />
      <div class="panel-body">
        <!--ContentPane start-->
        <div class="col-sm-10 col-sm-offset-1">
          <div class="panel panel-cust-success">
            <div class="panel-heading">
              <h2><strong>Gruppenübersicht</strong></h2>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-6 text text-muted">
                  <small>{{selBoxFBTitle}}</small>
                </div>
                <div class="col-sm-6 text text-muted">
                  <small>{{selBoxSemTitle}}</small>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <select class="form-control" data-width="100%" ng-model="gr.fachbereich" ng-options="fb for fb in fachbereiche">
                  </select>
                </div>
                <div class="col-sm-6">
                  <select class="form-control" data-width="100%" ng-model="gr.sem" ng-options="sem for sem in semesters">
                  </select>
                </div>
              </div>
              <div class="row">
                <br/>
                <div class="col-sm-6 text text-muted">
                  <small>{{selBoxSubjTitle}}</small>
                </div>
                <div class="col-sm-6 text text-muted">
                  <small>{{selBoxGrpNrTitle}}</small>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <select type="text"class="form-control" data-width="100%" ng-model="gr.fach" ng-options="fach for fach in faecher">
                  </select>
                </div>
                <div class="col-sm-6">
                  <select class="form-control" data-width="100%" ng-model="gr.grpNr" ng-options="grNr for grNr in grNummern">
                  </select>
                </div>
              </div>
              <div class="row">
                <br />
                <div class="col-sm-12">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="strike text text-muted">
                        <span>und/oder</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 inner-addon right-addon">
                    <span class="glyphicon glyphicon-search"></span>
                    <input type="text" class="form-control" ng-model="searchKeyword" placeholder="Fach, Dozent, Assistent eingeben..." />
                </div>
              </div>
              <div class="row">
                <br/>
                <div class="col-sm-12">
                  <table class="table table-striped" ng-controller="ModalController">
                    <thead>
                      <tr>
                        <th>Fach</th>
                        <th>Grp. Nr.</th>
                        <th>KW</th>
                        <th>Prof</th>
                        <th>Assistent</th>
                        <th>Raum</th>
                        <th>Anz. Teams</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="gruppe in hcGruppenDaten | filter: searchKeyword">
                        <td>{{gruppe.fach}}</td>
                        <td>{{gruppe.grpNr}}</td>
                        <td>{{gruppe.kw}}</td>
                        <td>{{gruppe.dozent}}</td>
                        <td>{{gruppe.assistent}}</td>
                        <td>{{gruppe.raum}}</td>
                        <td>{{gruppe.minGr}} / {{gruppe.maxGr}}</td>
                        <td>
                          <button type="button" class="btn btn-my-default btn-sm" ng-click="initGruppeDetails($index)"  data-toggle="modal" data-target="#gruppeDetails" data-placement="bottom" title="Details zu dieser Gruppe anzeigen" onmouseenter="$(this).tooltip('show')">
                            <span class="glyphicon glyphicon glyphicon-info-sign"></span>
                          </button>
                          <div ng-include src="getGruppeDetails()"></div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-my-default btn-sm" ng-click="initGruppePopup($index)" data-toggle="modal" data-target="#gruppeBearbeiten" data-placement="bottom" title="Gruppe bearbeiten" onmouseenter="$(this).tooltip('show')">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                          <div ng-include src="getGruppeEdit()"></div>
                        </td>
                        <td>
                          <button type="button" class="btn btn-my-default btn-sm"  ng-click="initFach($index); switchToTmUebersicht()" data-placement="bottom" title="Weiter zur Teilnehmerübersicht" onmouseenter="$(this).tooltip('show')">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row" id="grerstellen" >
                <div class="col-sm-12">
                  <button type="button" class="btn btn-my-block" data-toggle="modal" ng-click="grErstellen()" data-placement="bottom" title="Neue Gruppe erstellen" onmouseenter="$(this).tooltip('show')" >
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <div ng-switch on="getCurrTemplate()">
                    <div ng-switch-when="grErstellen">
                      <div ng-include="getExtGruppeErstellen()"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--ContentPane end-->
    </div>
  </div>
</div>
