<div class="row" id="gruppen" ng-controller="ExtController">
  <br>
  <div class="col-sm-10 col-sm-offset-1" ng-controller="GruppenController">
    <div class="panel panel-cust-info">
      <br />
      <div class="panel-body">
        <!--ContentPane start-->
        <div class="col-sm-10 col-sm-offset-1">
          <div class="panel panel-cust-success">
            <div class="panel-heading">
              <h2><strong>Gruppenübersicht</strong></h2>
            </div>
            <div class="panel-body">
              <!--Table start-->
              <div class="row">
                <div class="col-sm-6">
                  <select select-picker data-width="100%" title="Semester wählen...">
                    <option ng-repeat="sem in semesters" value="{{sem}}">{{sem}}</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <select select-picker data-width="100%" title="Fachbereich wählen...">
                    <option ng-repeat="fb in fachbereiche" value="{{fb}}">{{fb}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <br />
                  <select select-picker data-width="100%" title="Tag wählen...">
                    <option ng-repeat="tag in tage" value="{{tag}}">{{tag}}</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <br />
                  <select select-picker data-width="100%" title="Gruppen Nr. wählen..." ng-model="gr.grpNr">
                    <option ng-repeat="grnr in grNummern" value="{{grnr}}">{{grnr}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <br />
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Fach</th>
                        <th>Grp. Nr.</th>
                        <th>KW</th>
                        <th>Uhrzeit</th>
                        <th>Prof</th>
                        <th>Raum</th>
                        <th>Anz. Gruppen</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="gruppe in hcGruppenDaten">
                        <td>{{gruppe.fach}}</td>
                        <td>{{gruppe.grpNr}}</td>
                        <td>{{gruppe.kw}}</td>
                        <td>{{gruppe.startUhrzeit}} - {{gruppe.endUhrzeit}}</td>
                        <td>{{gruppe.dozent}}</td>
                        <td>{{gruppe.raum}}</td>
                        <td>{{gruppe.minGr}} / {{gruppe.maxGr}}</td>
                        <td>
                          <button type="button" class="btn btn-my-default btn-sm" data-placement="bottom" title="Weiter zur Teilnehmerübersicht" onmouseenter="$(this).tooltip('show')" ng-click="switchToTmUebersicht()">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row" id="grerstellen" >
                <div class="col-sm-12">
                  <button type="button" class="btn btn-my-block" data-toggle="modal" ng-click="grErstellen()" data-placement="bottom" title="Neue Gruppe erstellen" onmouseenter="$(this).tooltip('show')" >
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <div ng-switch on="erstellen">
                    <div ng-switch-when="grErstellen">
                      <div ng-include="'resources/extensions/ext_gruppe_erstellen.html'"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--ContentPane end-->
    </div>
  </div>
</div>
