<div class="row" id="veranstaltungen"  ng-controller="ExtController">
  <br />
  <div class="col-md-10 col-md-offset-1" ng-controller="VeranstaltungsController">
    <div class="panel panel-cust-info">
      <br />
      <div class="panel-body">
        <!--ContentPane start-->
        <div class="col-md-10 col-md-offset-1">
          <div class="panel panel-cust-success">
            <div class="panel-heading">
              <h2><strong>Veranstaltungsübersicht</strong></h2>
            </div>
            <div class="panel-body">
              <!--Table start-->
              <div class="row">
                <div class=col-md-6>
                  <select select-picker data-width="100%" title="Semester wählen...">
                    <option ng-repeat="sem in semester" value="{{sem}}" >{{sem}}</option>
                  </select>
                </div>
                <div class=col-md-6>
                  <select select-picker data-width="100%" title="Fachbereich wählen...">
                    <option id="'d-'+{{$index}}" ng-repeat="fb in fachbereiche" value="{{fb}}" >{{fb}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <br />
                  <table class="table table-striped" ng-controller="ModalController">
                    <thead>
                      <tr>
                        <th>Fach</th>
                        <th>Dozent</th>
                        <th>Assistent</th>
                        <th>Anz. Teilnehmer</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="veranstaltung in hcVeranstaltungsDaten">
                        <td>{{veranstaltung.fach}}</td>
                        <td>{{veranstaltung.dozent}}</td>
                        <td>{{veranstaltung.assistent}}</td>
                        <td>{{veranstaltung.curr}} / {{veranstaltung.max}}</td>
                        <td>
                          <button type="button" class="btn btn-my-default pull-right btn-sm" ng-click="initPopup($index)" data-toggle="modal" data-target="#modalBearbeiten" data-placement="bottom" title="Veranstaltung bearbeiten" onmouseenter="$(this).tooltip('show')">
                            <span class="glyphicon glyphicon-pencil"></span>
                          </button>
                          <div ng-include src="getModalEdit($index)"></div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row" id="veranerstellen" >
                <div class="col-sm-12">
                  <button type="button" class="btn btn-my-block" data-toggle="modal" ng-click="veranErstellen()" data-placement="bottom" title="Neue Veranstaltung erstellen" onmouseenter="$(this).tooltip('show')" >
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <div ng-switch on="getCurrTemplate()">
                    <div ng-switch-when="veranErstellen">
                      <div ng-include src="getExtVeranErstellen()"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--ContentPane end-->
    </div>
  </div>
</div>
