/* Panels */
.panel-cust-default {
  background-color:#FCFCFC;
  border-color: #C2C2C2;
  border-radius: 0px;
}

.panel-cust-primary {
  background-color:#F7F7F7;
  border-color: #C2C2C2;
  border-radius: 0px;
}

.panel-cust-info {
  background-color:#FDFDFD;
  border-color: #C2C2C2;
  border-radius: 0px;
}

.panel-cust-success {
  background-color:#FFFFFF;
  border-color: #C2C2C2;
  border-radius: 0px;
}

.panel-cust-success > .panel-heading {
  color: #333;
  background-color: #F5F5F0;
  border-color: #C2C2C2;
  border-radius: 0px;
}



/*Buttons*/
.btn-my-default {
    background: #FDFDFD;
    border-color: #C2C2C2;
    color: #6E6E6E;
    border-radius: 0px;
}

.btn-my-dropdown {
    background: #FDFDFD;
    border-color: #C2C2C2;
    color: #6E6E6E;
    border-radius: 0px;
}

.btn-my-default:hover{
  background-color: #8AB8E6;
  color: #FFFFFF;
}

.btn-my-default:active,
.btn-my-default.active {
  background-color: #8AB8E6;

}

.btn-info {
    background: #8AB8E6;
    color: #FFFFFF;
    border-radius: 0px;
}

.btn-info:hover {
    background: #5E9DDB;
    color: #FFFFFF;
}

.btn-block {
  background: #8AB8E6;
  color: #FFFFFF;
  border-radius: 0px;
}


.btn-my-block{
  background-color:#FCFCFC;
  border-color: #C2C2C2;
  width: 100%;
  border-radius: 0px;
}

.btn-my-block2{
  background-color:#FCFCFC;
  border-color: #C2C2C2;
  width: 30%;
  border-radius: 0px;
}

.btn-my-block:hover{
  background-color: #8AB8E6;
  color: #FFFFFF;
}

.btn-block:hover {
  background: #5E9DDB;
  color: #FFFFFF;
}

/*Modal*/
.modal.fade:not(.in) .modal-dialog {
    -webkit-transform: translate3d(0, 40%, 0);
    transform: translate3d(0, 40%, 0);
}


.modal-dialog  {
  width:30%;
  border-radius: 0px;
}
.modal-header {
    background-color: #FCFCFC;
    color: #787878;
    border-color: #C2C2C2;
    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     border-radius: 0px;
 }

 .fade {
   opacity: 0;
   -webkit-transition: opacity 0.02s linear;
   transition: opacity 0.05s linear;
}

.modal-backdrop{
    opacity:0.00 !important;
}

 /*Inner GlyphIcons*/
 /* enable absolute positioning */
 /* enable absolute positioning */
 .inner-addon {
     position: relative;
 }

 /* style icon */
 .inner-addon .glyphicon {
   position: absolute;
   padding: 10px;
   pointer-events: none;
   color: #C7C7C7;
 }

 /* align icon */
 .left-addon .glyphicon  {
   left:  15px;
 }

 .right-addon .glyphicon {
   right: 15px;
 }

 /* add padding  */
 .left-addon input  {
   padding-left:  30px;
 }

 .right-addon input {
   padding-right: 30px;
 }

 .strike {
     display: block;
     text-align: center;
     overflow: hidden;
     white-space: nowrap;
 }

 .strike > span {
     position: relative;
     display: inline-block;
 }

 .strike > span:before,
 .strike > span:after {
     content: "";
     position: absolute;
     top: 50%;
     width: 9999px;
     height: 1px;
     background: #E8E8E8;
 }

 .strike > span:before {
     right: 100%;
     margin-right: 15px;
 }

 .strike > span:after {
     left: 100%;
     margin-left: 15px;
 }

 /* dropdownmenu */
 .dropdown-menu {
   border-radius: 0px;
 }

 /* Glyphicons */
 .glyphicon-stop{
   font-size:1.5em;
 }

 input.form-control,input.form-control:focus {
     box-shadow: none;
     border-color: #AAA;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
 }

 select.form-control,select.form-control:focus {
     box-shadow: none;
     border-color: #AAA;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -moz-transition: none;
    -webkit-transition: none;
 }

 .borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
     border: none;
 }
